nav {
  position: sticky;
  top: -1px;
}

nav a:active {
  color: cadetblue;
}

/* nav a:nth-child(1):before {
  content: "🥁";
} */

.hero {
  background-color: darkolivegreen;
  position: relative;
  /* background: radial-gradient(white, black); */
  height: 50vh;
  /* background-image: url("liteSkog.jpg"); */
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa4zQlidmdhTc3MhvRU8wn0TE0zR4Ik3p8Bw&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.hero h2 {
  position: relative;
  z-index: 10;

  text-align: center;
  font-size: 50px;
  height: 100%;
  background: linear-gradient(transparent, darkmagenta);
}

.hero-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
